Client_TicketPremium/Client_TicketPremium/Connected Services/WSTicket/WSTicket2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TicketPremium_SOAP.Facade" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TicketPremium_SOAP.Facade" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSoccerGame">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SoccerGame" nillable="true" type="tns:SoccerGame" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSoccerGame" nillable="true" type="tns:ArrayOfSoccerGame" />
  <xs:complexType name="SoccerGame">
    <xs:sequence>
      <xs:element minOccurs="0" name="code_soccergame" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="date_soccergame" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="local_team" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="localities" nillable="true" type="tns:ArrayOfLocality" />
      <xs:element minOccurs="0" name="place" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="visitor_team" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoccerGame" nillable="true" type="tns:SoccerGame" />
  <xs:complexType name="ArrayOfLocality">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Locality" nillable="true" type="tns:Locality" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocality" nillable="true" type="tns:ArrayOfLocality" />
  <xs:complexType name="Locality">
    <xs:sequence>
      <xs:element minOccurs="0" name="availability" type="xs:int" />
      <xs:element minOccurs="0" name="code_locality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="code_soccergame" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Locality" nillable="true" type="tns:Locality" />
  <xs:complexType name="ArrayOfClient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Client" nillable="true" type="tns:Client" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClient" nillable="true" type="tns:ArrayOfClient" />
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="code_client" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name_client" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
  <xs:complexType name="Bill">
    <xs:sequence>
      <xs:element minOccurs="0" name="code_bill" type="xs:int" />
      <xs:element minOccurs="0" name="code_client" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="date_bill" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name_client" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="soccer_game" nillable="true" type="tns:SoccerGame" />
      <xs:element minOccurs="0" name="total" type="xs:float" />
      <xs:element minOccurs="0" name="way_pay" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bill" nillable="true" type="tns:Bill" />
  <xs:complexType name="ArrayOfBill">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bill" nillable="true" type="tns:Bill" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBill" nillable="true" type="tns:ArrayOfBill" />
</xs:schema>