Client_TicketPremium/Client_TicketPremium/Connected Services/WSTicket/WSTicket.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.104:52358/Service/WSTicket.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TicketPremium_SOAP.Facade" />
  <xs:element name="getAvailableSoccerGames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAvailableSoccerGamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TicketPremium_SOAP.Facade" minOccurs="0" name="getAvailableSoccerGamesResult" nillable="true" type="q1:ArrayOfSoccerGame" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNotAvailableSoccerGames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getNotAvailableSoccerGamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TicketPremium_SOAP.Facade" minOccurs="0" name="getNotAvailableSoccerGamesResult" nillable="true" type="q2:ArrayOfSoccerGame" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSoccerGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code_soccergame" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSoccerGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TicketPremium_SOAP.Facade" minOccurs="0" name="getSoccerGameResult" nillable="true" type="q3:SoccerGame" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getClients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TicketPremium_SOAP.Facade" minOccurs="0" name="getClientsResult" nillable="true" type="q4:ArrayOfClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateLocalitiesSoccerGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code_client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date_bill" type="xs:dateTime" />
        <xs:element minOccurs="0" name="way_pay" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TicketPremium_SOAP.Facade" minOccurs="0" name="localities" nillable="true" type="q5:ArrayOfLocality" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateLocalitiesSoccerGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TicketPremium_SOAP.Facade" minOccurs="0" name="updateLocalitiesSoccerGameResult" nillable="true" type="q6:Bill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReportSoccerGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code_soccergame" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReportSoccerGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TicketPremium_SOAP.Facade" minOccurs="0" name="getReportSoccerGameResult" nillable="true" type="q7:SoccerGame" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getClientBills">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code_client" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getClientBillsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TicketPremium_SOAP.Facade" minOccurs="0" name="getClientBillsResult" nillable="true" type="q8:ArrayOfBill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>