Client_TicketPremium/Client_TicketPremium/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/federacionFutbol" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/federacionFutbol" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPARTIDO_FUTBOL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PARTIDO_FUTBOL" nillable="true" type="tns:PARTIDO_FUTBOL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPARTIDO_FUTBOL" nillable="true" type="tns:ArrayOfPARTIDO_FUTBOL" />
  <xs:complexType name="PARTIDO_FUTBOL">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODIGO" type="xs:int" />
      <xs:element minOccurs="0" name="EQUIPO_LOCAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EQUIPO_VISITA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LUGAR" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PARTIDO_FUTBOL" nillable="true" type="tns:PARTIDO_FUTBOL" />
</xs:schema>